body{
    background-image: url(fond.png);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif

}
footer{
    background-color: whitesmoke; display: flex; color: rgb(10, 10, 112);

}
footer div{
    flex: 1; padding: 0 10px;

}
footer h3{
    margin-bottom: 10px; color: black;
}
footer ul li{
    margin-bottom: 8px;
    list-style: none;
}

header{
    background-color: white;
}
header p{
    color: red; font-weight: bold;
}
nav{display: flex;
    background-color: white;
    padding: 15px;
    height: 30px;
}
nav li a{display: inline-block;
    color: red;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin-right: 70px;
}
#Acceuil article,aside{
    display: flex;
}
section{
    padding: 5px;
    background-color: whitesmoke;
}
#Acceuil article{
    width: 76%;
}
#Acceuil aside{
    width: 20%;
}
#Acceuil article,aside{
    display: inline-block;
  
    margin: 10px;
}
#DG{
    width: 190px;
    height: 190px;
    float: left;
    display: block;
}
#acceuil-asd{
    
    background-image: url(fond_jaune2.png);
    color: rgba(5, 36, 47, 0.886);
    border-radius: 9px;
    top: -50px;

    
}
#Acceuil #acceuil-art1,#DG{
    margin: 10px;
}
section,div nav{
    margin: 10px;
}
/*style formations*/
#Formations #Cycle p{
    font-size: large;
    font-weight: bold;
}

#Formations #Cycle table{
     background-color: rgb(231, 105, 15);
   width: 60%;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 250px;
  
}
#Formations #Cycle table th,td{
    border: 1px solid black;
    padding: 10px;
    font-size: 22px;
}
th{
    font-weight: bold;
    text-align: left;
}
/*presentation*/


#presentation article,aside{
    display: inline-block;
    margin: 10px;
    margin-top: auto; 

}
#presentation article{

    width: 70%;
}
#presentation aside{
    width: 20%;
    background-image: url(fond_jaune2.png);
    color: rgba(5, 36, 47, 0.886);
    border-radius: 10px;  
    position: relative;
    top: -70px; 
}
#presentation aside img{
    margin: 1px;
}
/*contact*/
#Contact div{
    display: inline-block;
    margin: 80px;
    vertical-align: top;
    margin-right: 300PX;
}

/*Admissions*/
#Admissions article{
    width:70%;
}